;; This is an example config file for testing.
{:database    {:host     "localhost"
               :port     5432
               :dbname   "dbname"
               :user     "user"
               :password "testing"}
 :mail        {:host           "smtp.gmail.com"
               :user           ""
               :pass           ""
               :tls            true
               :port           587
               :base-url       "https://my.domain/"
               :auto-validate? false}
 :server      {:http-port     8080
               :mode          "dev" ;; or "prod"
               :log-dir       ""    ;; or "logs"
               :handler       comimo.routing/handler
               :workers       {:scheduler {:start comimo.jobs/start-scheduled-jobs!
                                           :stop  comimo.jobs/stop-scheduled-jobs!}}
               :response-type :json} ;; :end or :transit
 :app         {:tags-url    "https://api.github.com/repos/sig-gis/comimo/tags"
               :views       {:client-init carbon-tool.client.init
                             :css-files   ["/css/comimo_global.cs"]  ;; in resources/public folder
                             :js-files    ["https://www.gstatic.com/charts/loader.js"
                                           "/js/jquery-3.4.1.min.js"]}
               :title       {:en "Colombian Mining Monitoring"
                             :es "Monitoreo Minero Colombiano"}
               :description {:en "Colombian Mining Monitoring (CoMiMo) is an online mining monitoring application."
                             :es "Monitoreo Minero Colombiano (CoMiMo) es una aplicación de monitoreo minero en línea."}
               :keywords    {:en "colombian mining monitoring, comimo, satellite imagery, illegal mining."
                             :es "monitoreo minero colombiano, comimo, imágenes satelitales, minería illegal."}}
 :ga-id       nil
 :session-key "changeme12345678"}
