{:paths ["src"]

 :deps {com.cognitect/transit-clj         {:mvn/version "1.0.324"}
        org.clojure/clojure               {:mvn/version "1.10.3"}
        org.clojure/data.json             {:mvn/version "1.0.0"}
        org.clojure/tools.cli             {:mvn/version "1.0.206"}
        org.clojure/test.check            {:mvn/version "0.9.0"}
        org.postgresql/postgresql         {:mvn/version "42.2.10"}
        org.xerial/sqlite-jdbc            {:mvn/version "3.30.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"}
        seancorfield/depstar              {:mvn/version "2.0.165"}
        deps-deploy/deps-deploy           {:mvn/version "0.0.12"}
        info.faljse/SDNotify              {:mvn/version "1.3"}}

 :aliases {:build-db   {:main-opts ["-m" "triangulum.build-db"]}
           :https      {:main-opts ["-m" "triangulum.https"]}
           :systemd    {:main-opts ["-m" "triangulum.systemd"]}
           :config     {:main-opts ["-m" "triangulum.config"]}
           :rebel      {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                        :main-opts  ["-m" "rebel-readline.main"]}
           :check-deps {:extra-deps {olical/depot {:mvn/version "2.1.0"}}
                        :main-opts  ["-m" "depot.outdated.main"]}
           :deploy-jar {:extra-deps {seancorfield/depstar    {:mvn/version "2.0.165"}
                                     deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                        :main-opts  ["-m" "triangulum.deploy" "sig-gis" "triangulum"]}
           :test       {:extra-paths ["test" "tmp"]
                        :extra-deps  {com.cognitect/test-runner
                                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                       :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                        :main-opts   ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                      "-m" "cognitect.test-runner"
                                      "--exclude" ":db"]}
           :test-db    {:extra-paths ["test" "tmp"]
                        :extra-deps  {com.cognitect/test-runner
                                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                       :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                        :main-opts   ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                      "-m" "cognitect.test-runner"
                                      "--include" ":db"]}}}

