{:paths ["src/clj" "resources" "dist"]

 :deps {cider/cider-nrepl         {:mvn/version "0.28.7"}
        clj-http/clj-http         {:mvn/version "3.12.3"}
        clj-python/libpython-clj  {:mvn/version "2.020"}
        org.clojure/clojure       {:mvn/version "1.11.1"}
        org.clojure/core.async    {:mvn/version "1.6.673"}
        org.clojure/data.json     {:mvn/version "2.4.0"}
        org.clojure/tools.cli     {:mvn/version "1.0.214"}
        org.postgresql/postgresql {:mvn/version "42.5.0"}
        seancorfield/next.jdbc    {:mvn/version "1.2.659"}
        sig-gis/triangulum        {:git/url "https://github.com/sig-gis/triangulum"
                                       :sha     "55bbd896c8c96b4d8f591d3b303d01e725368efd"}}

 :aliases {:build-db         {:main-opts ["-m" "triangulum.build-db"]}
           :config           {:main-opts ["-m" "triangulum.config"]}
           :https            {:main-opts ["-m" "triangulum.https"]}
           :migrate          {:main-opts ["-m" "comimo.migrate"]}
           :server           {:main-opts ["-m" "triangulum.server"]
                              :jvm-opts  ["--add-modules=jdk.incubator.foreign"
                                          "--enable-native-access=ALL-UNNAMED"]}
           :systemd          {:main-opts ["-m" "triangulum.systemd"]}
           :rebel            {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                              :main-opts  ["-m" "rebel-readline.main"]}
           :production       {:jvm-opts ["-XX:MaxRAMPercentage=90" "-XX:+PrintFlagsFinal"]}
           :check-reflection {:main-opts ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                          "-e" "(require,'comimo.server)"]
                              :jvm-opts  ["--add-modules=jdk.incubator.foreign"
                                          "--enable-native-access=ALL-UNNAMED"]}
           :check-deps       {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                              :main-opts ["-m" "antq.core"]}
           :nrepl-client     {:deps      {nrepl/nrepl {:mvn/version "1.0.0"}}
                              :main-opts ["-m" "nrepl.cmdline" "--connect" "--host" "127.0.0.1" "--port" "5555"]}}}
